.body{
    font-family: 'Raleway', 'Roboto', sans-serif;
    background-color: #F5F5F5;
}
ul {
    list-style: none;
}
.body h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    font-style: normal;
    
    color: #212121;
}


.logoweb {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logostudio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}

.navigation{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.navigation-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.navigation-link:hover,
.navigation-link:focus{
    color: #2196F3;
}

.contact-list{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.contact-list:hover,
.contact-list:focus{
    color: #2196F3;
}

.hero{
    width: 696px;
    background-color: #2F303A;
    text-align: center;
}
.herotext{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    color: #FFFFFF;
    background-color: #2F303A;
}

.button{
    font-family: inherit;
    background: #2196F3;
}

.button:hover,
.button:focus{
    background: #dde7f0;
}
.buttontext{
        width: 152px;
        height: 30px;
        left: 724px;
        top: 440px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;

        align-items: center;
        text-align: center;
        color: #FFFFFF;
}

.benefits h3{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-style: normal;
    color: #212121;
}
.benefits p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.ourteam h3{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    font-style: normal;
    color: #212121;
}
.ourteam p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    font-style: normal;
    color: #757575;
}


.filterbutton button{
    background-color: #F5F4FA;
    color: #212121;
}
.filterbutton:hover,
.filterbutton:focus button{
    background-color: #2196F3;
    color: #FFFFFF;
}
 
.footer{
    background-color: #2F303A;
}
.logostudio-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: white;
}