:root {
    --titletext-color: #212121;
    --p-color: #757575;
}

body{
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: #F5F5F5;
    color: #757575;
}

ul{
    list-style: none;
}

.secondary-title{
        
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
    
    color: var(--titletext-color);
}


.logoweb {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logostudio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}

.navigation{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--titletext-color);
}
.navigation-link{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--titletext-color);
}
.navigation-link:hover,
.navigation-link:focus{
    color: #2196F3;
}

.contact-list{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--p-color);
}
.contact-list:hover,
.contact-list:focus{
    color: #2196F3;
}

.hero{
    width: 696px;
    background-color: #2F303A;
    text-align: center;
}
.herotext{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    color: #FFFFFF;
    background-color: #2F303A;
}

.button{
    font-family: inherit;
    background: #2196F3;
}

.button:hover,
.button:focus{
    background: #dde7f0;
}
.buttontext{
        width: 152px;
        height: 30px;
        left: 724px;
        top: 440px;
    
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;

        align-items: center;
        text-align: center;
        color: #FFFFFF;
}

.benefits-titles{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-style: normal;
    color: var(--titletext-color);
}
.benefits-p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--p-color);
}

.ourteam-titles{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--titletext-color);
}
.ourteam-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--p-color);
}


.filterbutton{
    font-family: inherit;
    background-color: #F5F4FA;
    color: var(--titletext-color);
    cursor: pointer;
}
.filterbutton:hover,
.filterbutton:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}
 
.footer{
    background-color: #2F303A;
}
.logostudio-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: white;
}

.allworks-titles{
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
color: var(--titletext-color);
}

.allworks-p{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: var(--p-color);
}